*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;

}

.center {
    max-width: 1280px;
    margin: 0 auto;
    padding:0 2%;
}

section.main {
    width: 100%;
    min-height: 100%;
    background-image: url('/img/teslabgg.png');
    background-image: center;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-around;
}

.logo {
    position: relative;
    top: 5px;
    
}

.logo img {
    width: 130px;
}

.menu{
    margin-top: 5px;
}

.menu a{
    display: inline-block;
    margin: 0 10px;
    color: black;
    text-decoration: none;
    transition: 0.3s;
    padding: 3px 5px;
}

.menu a:hover{
    border-radius: 5px;
    background-color: rgba(200, 200, 200, 0.4);
}

.title {
    text-align: center;
}

.title h2 {color: black; font-size: 45px; letter-spacing: 1.2px;}
.title p {color: #CCC;  margin-top: 10px;}

.title p a{color: white;}

.btn {
   position: absolute;
   bottom: 40px;
   width: 100%;
   left: 0;
   text-align: center;

}

.btn a {
    display: inline-block;
    padding: 8px 50px;
    margin: 0 15px;
    background-color: #333;
    color: white;
    border-radius: 15px;
    text-decoration: none;
}













